.formContainer {
    margin-bottom: 100px;
}

#formLogin {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textArea {
    display: block;
    margin-top: 10px;
}

.btn {
    margin-top: 50px;
    color: inherit;
}