.formContainer {
    height: 100%;
}

#formLogin {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textArea {
    display: block;
    margin-top: 10px;
}

.btn {
    margin-top: 50px;
    color: inherit;
}

#googleBtn {
    width: 50px;
    height: 50px;
    font-size: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#googleBtn:hover {
    border-radius: 50%;
    background-color: rgb(197, 187, 187);
}