#Profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerProfile {
    height: 70%;
    width: 70%;
    border: 5px rgb(112, 105, 105) solid;
    display: flex;
}

#leftSide {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

#imageProfile {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photoProfile {
    border-radius: 100%;
    width: 35%;
    height: 50%;
}

#nameProfile {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightSide {
    height: 100%;
    width: 60%;
    display: flex;
    background-color: rgb(119, 137, 125);
    display: flex;
    flex-direction: column;
}

#infoProfile {
    height: 70%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

#btnProfile {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}






.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}


.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
 
  .wrapper .edit:hover,
  .wrapper .edit:hover .tooltip,
  .wrapper .edit:hover .tooltip::before {
    background: #916d0b;
    color: #fefafa;
  }

  .wrapper .looking:hover,
  .wrapper .looking:hover .tooltip,
  .wrapper .looking:hover .tooltip::before {
    background: #09790f;
    color: #fbf7f7;
  }
  
  .wrapper .friends:hover,
  .wrapper .friends:hover .tooltip,
  .wrapper .friends:hover .tooltip::before {
    background: #1472d0;
    color: #eee3e3;
  }
  
  .wrapper .events:hover,
  .wrapper .events:hover .tooltip,
  .wrapper .events:hover .tooltip::before {
    background: #9a0606;
    color: #f5eeee;
  }

  .friends {
      margin-left: 70px;
      margin-right: 70px;
  }
  
  
  
  