.flex-container {
    height:700px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#leftItem {
    background-color: rgb(79, 77, 77);
    min-width: 200px;
    width: 20%;
    overflow-y: scroll;
}

#rightItem {
    background-color: rgb(122, 118, 118);
    width: 80%;
    height: 100%;
}

.messageOption {
    height: 30px;
    padding: 7px;
    text-align: center;
}

.btnMessage {
    width: 100%;
    height: 100%;
    color: rgb(230, 220, 220);
    background-color: transparent;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.btnMessage:hover {
    cursor: pointer;
    background-color: gray;
}

.btnMessage:focus {
    cursor: pointer;
    background-color: whitesmoke;
    color: gray;
}

#contacts {
    color: rgb(230, 220, 220);
}

#line {
    width: 90%;
    opacity: 0.6;
}

.flexCenter {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#contactsH3 {
    margin: 10px;
}

.account {
    height: 40px;
    margin-bottom: 5px;
}

.btnAccount {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: rgb(230, 220, 220);

}

.btnAccount:hover {
    cursor: pointer;
    background-color: gray;
}

.btnAccount:active {
    cursor: pointer;
    background-color: rgb(185, 179, 179);
    color: gray;
}

.profileImg {
    height: 22px;
    width: 22px;
    border-radius: 100%;
}

#containercontact {
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
}

