#creteBody {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userCreateForm {
    font-size: 20px;
    border-radius: 20px;
    height: 70%;
    background-color: rgb(222, 231, 231);
    width: 30%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}

/* Hide scrollbar for Chrome, Safari and Opera */
#userCreateForm::-webkit-scrollbar {
  display: none;
}

#createBtn {
    font-size: 15px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(137, 173, 208);
    border-radius: 20px;
    margin-top: 20px;
    width: 100px;
}

#createBtn:hover {
    border: rgb(52, 49, 49) solid 2px;
    background-color: rgb(90, 137, 184);
}

#createBtn:active {
    border: rgb(14, 25, 219) solid 2px;
    background-color: rgb(52, 111, 171);
}

.custom-file-upload {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent; 
}

.custom-file-upload:hover {
    border: solid 2px black;
}

#file-upload {
    display: none
}