#scheduleBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.weekDaysBody {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}