#deletebtn {
    display: inline;
    font-size: 20px;
    color: red;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
}

#deletebtn:hover {
    color: rgb(141, 5, 5);
    border: 2px solid rgb(141, 5, 5);
}

#deletebtn:active {
    color: green;
    border: 2px solid green;
}