.modalMarkerBody {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#activateModal_marker {
    text-decoration: none;
}

.modal_marker {
    height: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    background-color: #6565657a;
    background-size:contain;
  }
  
  .modal_marker:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content_marker {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    height: 45%;
    overflow-y: scroll;
    background: #fff;
    padding: 1em 2em;
    color: black;
    z-index: 1;
  }
  
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }
