#searchBody {
    height: 100%;
    width: 100%;
    display: flex;
}

#leftLooking {
    width: 35%;
    min-width: 350px;
    height: 100%;
    display: flex;
    background-color: antiquewhite;
    overflow: scroll;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#leftLooking::-webkit-scrollbar {
  display: none;
}

#leftForm {
    width: 100%;
    display: flex;
    justify-content: center ;
}

#lookingForm {
    margin-top: 20%;
    height: 400px;
    width: 300px;
    display: flex;
    font-size: 17px;
}

#lookingFormContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: black solid 2px;
    border-radius: 15px;
}

.inputForm {
    background-color: transparent;
    border: none;
    border-bottom: solid black 2px;
    text-align: center;
}

#rightLooking {
    width: 65%;
    height: 100%;
    display: flex;
    background-color: rgb(243, 218, 186);
}

#btnLooking {
    background-color: transparent;
    width: 100px;
    border-radius: 15px;
    cursor: pointer;
}

#btnLooking:hover {
    border: rgb(65, 129, 10) solid 3px;
    color: rgb(17, 169, 17);
}