.modalParticipantBody {
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}

#activateModal_participant {
    text-decoration: none;
}

.modal_participant {
    height: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    background-color: #6565657a;
    background-size:contain;
  }
  
  .modal_participant:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content_participant {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    height: 80%;
    overflow-y: scroll;
    background: #fff;
    padding: 1em 2em;
    color: black;
    z-index: 1;
  }
  
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }

.checkDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 20px;
}

.checkboxCn {
    border-radius: 50%;
}


#addParticipant {
  border: none;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(42, 213, 42);
  color: aliceblue;
}

#addParticipant:hover {
  background-color:  green;
}

#participantbtn {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}