#wrapper {
  overflow-y: scroll;
  height: 95%;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

#wrapperContainer {
  height: 100%;
  display: flex;
}

#wrapper::-webkit-scrollbar {
  display: none;
}

#mapGoogle {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 500px;
}

#suggestion {
    background-color: rgb(142, 140, 137);
    height: px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#suggestionBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#suggestionBtns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spanbtn{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
.spanbtn .btnSug{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
.spanbtn .btnSug:before,
.spanbtn .btnSug:after{
    position: absolute;
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }

  #spanField .btnSug:before,
  #spanField .btnSug:after {
      content: 'FIELD';
  }

  #spanCompound .btnSug:before,
  #spanCompound .btnSug:after {
      content: 'COMPOUND';
  }



.spanbtn .btnSug:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
.spanbtn .btnSug:after{
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }
.spanbtn .btnSug:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  