#mapGoogle {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 500px;
}

#suggestion {
    background-color: rgb(142, 140, 137);
    height: 150px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#suggestionBtn {
    width: 100%;
    display: flex;
}

#suggestionBtnLeft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#suggestionBtnRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnSug {
    width: 120px;
    border: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.btnSug:hover {
    cursor: pointer;
    border: rgb(132, 29, 29) solid 4px;
}

.btnSug:active {
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(48, 47, 47);
}